@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

main {
   background-color: #222327;
   /*display: flex;
   align-items: center;
   justify-content: center;*/
   height: 100vh;
   margin: 0;
}
h1 {
    font-family: 'Rubik Mono One', sans-serif;
   font-size: 40px;
   text-align: center;
   color: #fff;
   text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
   -webkit-text-stroke: 2px #fc78ff;
   -webkit-text-fill-color: transparent;
   letter-spacing: 5px;
}

p {
   font-family: 'Rubik Mono One', sans-serif;
   font-size: 10px;
   text-align: center;
   color: #fff;
   text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
   -webkit-text-stroke: 2px #fc78ff;
   -webkit-text-fill-color: transparent;
   letter-spacing: 5px;
}

aside {
    float: left;
    background: #8B0000;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #D3D3D3;
}

aside img {
    width: 230px;
    float: left;
}
